body {
  height: 100vh;
  background: url('og.jpeg');
  background-size: cover;
  background-position: center;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: flex-start;  */
}
.test1{
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}
.window {
  width: 1500px;
  height: 200px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(200%);
  /*display: flex;*/
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin-bottom: 5px;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between; /* Side by side layout */
  align-items: flex-start;
  width: 100%;
}
.test{
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}


.window1 {
  width: 900px;
  height: 480px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(200%);
  color: white;
  /*display: flex;*/
  justify-content: left;
  margin-left: 5px;
  margin-right: 5px;
}

.window2 {
  width: 600px;
  height: 480px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(200%);
  color: white;
  /*display: flex;*/
  justify-content: right;
}

input[type="text"],
input[type="password"] {
  border-radius: 8px;
  border: 1px solid white;
  color: white !important;
  background: transparent;
}

form {
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #00000040;
  box-shadow: none;
  border: 1px solid white;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}

input[type="submit"] {
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 11 */
.btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

/* 15 */
.btn-15 {
  border: none;
  color: #f4f4f4;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px rgba(235, 233, 233, 0.133),
   4px 4px 5px 0px rgba(228, 223, 223, 0.067);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}


/* 16 */
.btn-16 {
  border: none;
  color: #f4f4f4;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px rgba(235, 233, 233, 0.133),
   4px 4px 5px 0px rgba(228, 223, 223, 0.067);
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #ffffff;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}


.window {
  color: white;
 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"][readonly] {
  background: transparent;
}
